<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>    
    <h1>The Evolution of the Bicycle</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt earum assumenda impedit tenetur eos architecto adipisci soluta odio pariatur non! Natus aut ea dolores consequatur neque, quis officiis doloremque eveniet?</p> 
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum voluptatum dolore sint debitis quis ipsa ea esse cupiditate repellat, tempore autem perspiciatis laudantium reiciendis vitae a! Magni consectetur libero molestiae.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere esse dolore rerum, repudiandae at deserunt molestiae reprehenderit doloremque illum quibusdam, facilis et ea nemo distinctio corporis adipisci dolorum consequuntur sed!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam praesentium maxime illum quia assumenda voluptatibus, enim, accusamus perferendis dolorum ab quod commodi nam eaque, consequatur ipsam voluptatum neque hic sapiente.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi alias nemo ipsa harum nesciunt iusto necessitatibus dolor maiores beatae quia perspiciatis neque, consequuntur sint molestiae error suscipit qui culpa ducimus.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim tempore reiciendis id quis ducimus adipisci eveniet non architecto officiis, vitae eligendi nobis minima. Repellendus quod ipsam, dolores doloremque aliquam hic.</p>    
</body>
</html>